/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */
/* 1344px/16px = 84em */

/************************************/
/* BELLOW 1344PX (Smaller Desktops) */
/************************************/

@media (max-width: 84em) {

    /****************/
    /* HERO SECTION */
    /****************/

    .hero {
      max-width: 120rem;  
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    /************************/
    /* TESTIMONIALS SECTION */
    /************************/

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

/******************************************************************************************/

/*************************************/
/* BELLOW 1200px (Landscape Tablets) */
/*************************************/

@media (max-width: 75em) {

    /************/
    /* CSS RESET*/
    /************/

    /* 9px/16px = 0.5625rem
    0.5625rem/1rem * 100% = 56.25% */
    html {
        font-size: 56.25%;
    }

    /************/
    /* CSS GRID */
    /************/

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    /******************************/
    /* GENERAL REUSABLE COMPONENTS*/
    /******************************/

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    /**********/
    /* HEADER */
    /**********/

    .header {
        padding: 0 3.2rem;
    }

    /**************/
    /* NAVIGATION */
    /**************/

    .main-nav-list {
        gap: 3.2rem;
    }

    /****************/
    /* HERO SECTION */
    /****************/

    .hero {
        gap: 4.8rem;
    }

    /************************/
    /* TESTIMONIALS SECTION */
    /************************/

    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }

}

/******************************************************************************************/

/*************************************/
/* BELLOW 944px (Tablets) */
/*************************************/

@media (max-width: 59em) {

    /************/
    /* CSS RESET*/
    /************/

    /* 8px/16px = 0.5rem
    0.5rem/1rem * 100% = 50% */
    html {
        font-size: 50%;
    }

    /************/
    /* CSS GRID */
    /************/

    /******************************/
    /* GENERAL REUSABLE COMPONENTS*/
    /******************************/

    .btn--form {
        margin-top: 1.2rem;
    }

    /******************/
    /* HELPER CLASSES */
    /******************/

    /**********/
    /* HEADER */
    /**********/

    /**************/
    /* NAVIGATION */
    /**************/

    /****************/
    /* HERO SECTION */
    /****************/

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }

    .delivered-meals {
        justify-content: center;
        margin-top: 3.2rem;
    }


    /***********************/
    /* FEATURED IN SECTION */
    /***********************/

    .logo img{
        height: 2.4rem;
    }

    /************************/
    /* HOW IT WORKS SECTION */
    /************************/

    .step-number {
        font-size: 7.4rem;
    }

    /*****************/
    /* MEALS SECTION */
    /*****************/

    .meal-content {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    /************************/
    /* TESTIMONIALS SECTION */
    /************************/

    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    /*******************/
    /* Pricing SECTION */
    /*******************/


    /***************/
    /* CTA SECTION */
    /***************/

    .cta {
        grid-template-columns: 3fr 2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    /**********/
    /* FOOTER */
    /**********/
}

/******************************************************************************************/

/*************************************/
/* BELLOW 1200px (Landscape Tablets) */
/*************************************/

@media (max-width: 600px) {

    /************/
    /* CSS RESET*/
    /************/

    /************/
    /* CSS GRID */
    /************/

    /******************************/
    /* GENERAL REUSABLE COMPONENTS*/
    /******************************/

    /******************/
    /* HELPER CLASSES */
    /******************/

    /**********/
    /* HEADER */
    /**********/

    /**************/
    /* NAVIGATION */
    /**************/

    /****************/
    /* HERO SECTION */
    /****************/


    /***********************/
    /* FEATURED IN SECTION */
    /***********************/


    /************************/
    /* HOW IT WORKS SECTION */
    /************************/


    /*****************/
    /* MEALS SECTION */
    /*****************/


    /************************/
    /* TESTIMONIALS SECTION */
    /************************/


    /*******************/
    /* Pricing SECTION */
    /*******************/


    /***************/
    /* CTA SECTION */
    /***************/


    /**********/
    /* FOOTER */
    /**********/
}